<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <p>From the kitchen of <%= taco.owner.name %></p>
  <h1><%= taco.name %></h1>
  <h2>This taco is <%= taco.tasty ? 'tasty' : 'not tasty' %></h2>
  <% if (condition) { %>
    <form 
      action="/tacos/<%= taco._id %>/flip-tasty?_method=PATCH"
      method="POST"
    >
      <button class="btn" type="submit">
        Make taco <%= taco.tasty ? 'tasty' : 'not tasty' %>
      </button>
    </form>
  <% } %>
</section>

<%- include('../partials/footer') %>